.h1{
  text-align: center;
  line-height: 3;
  font-size: 2.1rem;
  background-color: rgb(10, 10, 10);
  color: aliceblue;
}

.h12{
  text-align: center;
  line-height: 2;
  font-size: 2.1rem;
  background-color: rgb(10, 10, 10);
  color: aliceblue;
  top: 71%;
  position: relative;
}
.b1{
  background-color: rgb(25, 25, 25);
  margin: 0;
}
.d1{
  width: 80%;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  background-image: url("/assets/img/11A/i1.jpg");
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px 3px white;
  animation: slider 50s infinite linear;
}

@keyframes slider{
  0%{background-image: url("/assets/img/11A/i1.jpg");}
  10%{background-image: url("/assets/img/11A/i2.jpg");}
  20%{background-image: url("/assets/img/11A/i3.jpg");}
  30%{background-image: url("/assets/img/11A/i4.jpg");}
  40%{background-image: url("/assets/img/11A/i5.jpg");}
  50%{background-image: url("/assets/img/11A/i6.jpg");}
  60%{background-image: url("/assets/img/11A/i7.jpg");}
  70%{background-image: url("/assets/img/11A/i8.jpg");}
  80%{background-image: url("/assets/img/11A/i9.jpg");}
  90%{background-image: url("/assets/img/11A/i10.jpg");}
}